In [87]:
import requests
import pandas as pd
import sys
import json, helpful
pd.set_option('display.float_format', lambda x: '%0.2f' % x)

In [102]:
allTickers = json.loads(open("tickers.json", 'r').read())
ticker = "IBM"
cik = allTickers[ticker]['cik']

In [103]:
user_agent = {"user-agent": "www.jonsteeves.dev jonathonsteeves@cmail.carleton.ca"}
url = "https://www.sec.gov/edgar/browse/?CIK=51143"
companyFacts = "https://data.sec.gov/api/xbrl/companyfacts/CIK{:010d}.json".format(cik)
api = "https://data.sec.gov/submissions/CIK0000051143.json"

In [104]:
res = requests.get(companyFacts, headers=user_agent)
res.status_code

200

In [105]:
dc = dict(res.json())

In [106]:
dc['facts'].keys()
len(dc['facts']['us-gaap'])

717

In [107]:
sys.getsizeof(dc["facts"]['us-gaap'])

20536

In [108]:
# dc['facts']['dei']['EntityPublicFloat']

In [109]:
gaap = dc['facts']['us-gaap']

In [110]:
dataModel = json.loads(open('dataModelV1.json', 'r').read())
gaapKeys = set(gaap.keys())

In [111]:
t = pd.DataFrame(helpful.keyQuarters(gaap["Revenues"]["units"]["USD"])[-10:])
t.fy = t.start.apply(lambda x: x.split("-")[0])

In [112]:
t

,start,end,val,accn,fy,fp,form,filed,frame
0,2019-01-01,2019-12-31,57714000000,0001558370-22-001584,2019,FY,10-K,2022-02-22,CY2019
1,2020-01-01,2020-03-31,17571000000,0001558370-21-004922,2020,Q1,10-Q,2021-04-27,CY2020Q1
2,2020-04-01,2020-06-30,18123000000,0001558370-21-009351,2020,Q2,10-Q,2021-07-27,CY2020Q2
3,2020-07-01,2020-09-30,17560000000,0001558370-21-014734,2020,Q3,10-Q,2021-11-05,CY2020Q3
4,2020-01-01,2020-12-31,55179000000,0001558370-22-001584,2020,FY,10-K,2022-02-22,CY2020
5,2021-01-01,2021-03-31,13187000000,0001558370-22-005983,2021,Q1,10-Q,2022-04-26,CY2021Q1
6,2021-04-01,2021-06-30,18745000000,0001558370-21-009351,2021,Q2,10-Q,2021-07-27,CY2021Q2
7,2021-07-01,2021-09-30,17618000000,0001558370-21-014734,2021,Q3,10-Q,2021-11-05,CY2021Q3
8,2021-01-01,2021-12-31,57350000000,0001558370-22-001584,2021,FY,10-K,2022-02-22,CY2021
9,2022-01-01,2022-03-31,14197000000,0001558370-22-005983,2022,Q1,10-Q,2022-04-26,CY2022Q1

In [113]:
def keyQuarters(ls):
    newls = []
    for frame in ls:
        if('frame' in frame.keys()):
            newls.append(frame)
    return newls

def make_frame(df):
    dataModel = json.loads(open('dataModelV3_Income.json', 'r').read())
    incomeModel = dataModel["IncomeStatements"]
    df_model = pd.DataFrame()
    for i in incomeModel:
        try:
            df_model[i] = consolidate(keyQuarters(df[incomeModel[i]]["units"]["USD"]))
        except:
            df_model[i] = None
        # return pd.DataFrame(keyQuarters(df[dataModel[i]]["units"]["USD"]))
    
        # print(df[dataModel[i]]["units"]["USD"][-1])
        # return pd.DataFrame(df[dataModel[i]]["units"]["USD"])
    return df_model

def consolidate(ls):
    frame = pd.DataFrame(ls)
    frame.fy = frame.end.apply(lambda x: x.split("-")[0])
    # frame.fy = frame.end.apply(lambda x: x.split("-")[0])
    frame = frame[["fy", "val", "frame", "form"]]
    frame = pd.concat([frame, make_q4(frame)])
    # frame["date"] = frame["start"] + ', ' + frame["end"]
    
    frame["frame2"] = frame["frame"].transform(lambda x: x[2:])
    # frame = frame.set_index('frame')
    # frame.drop(["start", "end", "accn", "filed"], axis=1, inplace=True)
    return frame[frame["form"] != "10-K"].sort_values(["fy", "form"]).set_index("frame")["val"]

def make_q4(arr):
    crs = pd.crosstab(arr["fy"], arr["form"], values=arr["val"], aggfunc="sum")
    q = crs["10-K"] - crs["10-Q"]
    out = pd.DataFrame(q.dropna(), columns=["val"]).reset_index()
    out["frame"] = out["fy"].transform(lambda x: f"CY{x}Q4")
    out["form"] = "10-Q"
    return out

In [114]:
cht = make_frame(gaap)
cht.T.to_excel("example_table2.xlsx")

In [119]:
cht.tail()

,Total revenue,Total cost,Gross profit,"Selling, general and administrative","Research, development and engineering",Interest expense,Income before taxes,Net income
frame,,,,,,,,
CY2021Q1,13187000000.00,6160000000.00,7027000000.00,4688000000.00,1616000000.00,280000000.00,244000000.00,955000000.00
CY2021Q2,18745000000.00,9741000000.00,9004000000.00,5334000000.00,1657000000.00,281000000.00,1552000000.00,1325000000.00
CY2021Q3,17618000000.00,9447000000.00,8171000000.00,4860000000.00,1621000000.00,291000000.00,1319000000.00,1130000000.00
CY2021Q4,7800000000.00,517000000.00,7284000000.00,3863000000.00,1594000000.00,303000000.00,1722000000.00,2333000000.00
CY2022Q1,14197000000.00,6862000000.00,7335000000.00,4597000000.00,1679000000.00,311000000.00,623000000.00,733000000.00

In [120]:
gaap["Revenues"]["units"]["USD"]

[{'start': '2007-01-01',
  'end': '2007-12-31',
  'val': 98786000000,
  'accn': '0001047469-10-001151',
  'fy': 2009,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2010-02-23',
  'frame': 'CY2007'},
 {'start': '2008-01-01',
  'end': '2008-06-30',
  'val': 51322000000,
  'accn': '0001104659-09-045198',
  'fy': 2009,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2009-07-28'},
 {'start': '2008-04-01',
  'end': '2008-06-30',
  'val': 26820000000,
  'accn': '0001104659-09-045198',
  'fy': 2009,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2009-07-28',
  'frame': 'CY2008Q2'},
 {'start': '2008-01-01',
  'end': '2008-09-30',
  'val': 76623000000,
  'accn': '0001104659-09-060554',
  'fy': 2009,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2009-10-27'},
 {'start': '2008-07-01',
  'end': '2008-09-30',
  'val': 25302000000,
  'accn': '0001104659-09-060554',
  'fy': 2009,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2009-10-27',
  'frame': 'CY2008Q3'},
 {'start': '2008-01-01',
  'end': '2008-12-31',
  'val': 103630000000,
  'accn': '0001047469-10-001151',
  'fy': 2009,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2010-02-23'},
 {'start': '2008-01-01',
  'end': '2008-12-31',
  'val': 103630000000,
  'accn': '0001047469-11-001117',
  'fy': 2010,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2011-02-22',
  'frame': 'CY2008'},
 {'start': '2009-01-01',
  'end': '2009-03-31',
  'val': 21711000000,
  'accn': '0001104659-10-022064',
  'fy': 2010,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2010-04-27',
  'frame': 'CY2009Q1'},
 {'start': '2009-01-01',
  'end': '2009-06-30',
  'val': 44962000000,
  'accn': '0001104659-09-045198',
  'fy': 2009,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2009-07-28'},
 {'start': '2009-01-01',
  'end': '2009-06-30',
  'val': 44962000000,
  'accn': '0001104659-10-039808',
  'fy': 2010,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2010-07-27'},
 {'start': '2009-04-01',
  'end': '2009-06-30',
  'val': 23250000000,
  'accn': '0001104659-09-045198',
  'fy': 2009,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2009-07-28'},
 {'start': '2009-04-01',
  'end': '2009-06-30',
  'val': 23250000000,
  'accn': '0001104659-10-039808',
  'fy': 2010,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2010-07-27',
  'frame': 'CY2009Q2'},
 {'start': '2009-01-01',
  'end': '2009-09-30',
  'val': 68528000000,
  'accn': '0001104659-09-060554',
  'fy': 2009,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2009-10-27'},
 {'start': '2009-01-01',
  'end': '2009-09-30',
  'val': 68528000000,
  'accn': '0001104659-10-053716',
  'fy': 2010,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2010-10-26'},
 {'start': '2009-07-01',
  'end': '2009-09-30',
  'val': 23566000000,
  'accn': '0001104659-09-060554',
  'fy': 2009,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2009-10-27'},
 {'start': '2009-07-01',
  'end': '2009-09-30',
  'val': 23566000000,
  'accn': '0001104659-10-053716',
  'fy': 2010,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2010-10-26',
  'frame': 'CY2009Q3'},
 {'start': '2008-12-31',
  'end': '2009-12-31',
  'val': 95758000000,
  'accn': '0001047469-11-001117',
  'fy': 2010,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2011-02-22'},
 {'start': '2008-12-31',
  'end': '2009-12-31',
  'val': 95758000000,
  'accn': '0001047469-12-001742',
  'fy': 2011,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2012-02-28',
  'frame': 'CY2009'},
 {'start': '2009-01-01',
  'end': '2009-12-31',
  'val': 95758000000,
  'accn': '0001047469-10-001151',
  'fy': 2009,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2010-02-23'},
 {'start': '2010-01-01',
  'end': '2010-03-31',
  'val': 22857000000,
  'accn': '0001104659-10-022064',
  'fy': 2010,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2010-04-27'},
 {'start': '2010-01-01',
  'end': '2010-03-31',
  'val': 22857000000,
  'accn': '0001104659-11-022352',
  'fy': 2011,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2011-04-26',
  'frame': 'CY2010Q1'},
 {'start': '2010-01-01',
  'end': '2010-06-30',
  'val': 46581000000,
  'accn': '0001104659-10-039808',
  'fy': 2010,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2010-07-27'},
 {'start': '2010-01-01',
  'end': '2010-06-30',
  'val': 46581000000,
  'accn': '0001104659-11-040759',
  'fy': 2011,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2011-07-26'},
 {'start': '2010-04-01',
  'end': '2010-06-30',
  'val': 23724000000,
  'accn': '0001104659-10-039808',
  'fy': 2010,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2010-07-27'},
 {'start': '2010-04-01',
  'end': '2010-06-30',
  'val': 23724000000,
  'accn': '0001104659-11-040759',
  'fy': 2011,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2011-07-26',
  'frame': 'CY2010Q2'},
 {'start': '2010-01-01',
  'end': '2010-09-30',
  'val': 70852000000,
  'accn': '0001104659-10-053716',
  'fy': 2010,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2010-10-26'},
 {'start': '2010-01-01',
  'end': '2010-09-30',
  'val': 70852000000,
  'accn': '0001104659-11-057630',
  'fy': 2011,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2011-10-25'},
 {'start': '2010-07-01',
  'end': '2010-09-30',
  'val': 24271000000,
  'accn': '0001104659-10-053716',
  'fy': 2010,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2010-10-26'},
 {'start': '2010-07-01',
  'end': '2010-09-30',
  'val': 24271000000,
  'accn': '0001104659-11-057630',
  'fy': 2011,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2011-10-25',
  'frame': 'CY2010Q3'},
 {'start': '2009-12-31',
  'end': '2010-12-31',
  'val': 99870000000,
  'accn': '0001047469-11-001117',
  'fy': 2010,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2011-02-22'},
 {'start': '2009-12-31',
  'end': '2010-12-31',
  'val': 99870000000,
  'accn': '0001047469-12-001742',
  'fy': 2011,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2012-02-28'},
 {'start': '2009-12-31',
  'end': '2010-12-31',
  'val': 99870000000,
  'accn': '0001047469-13-001698',
  'fy': 2012,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2013-02-26',
  'frame': 'CY2010'},
 {'start': '2011-01-01',
  'end': '2011-03-31',
  'val': 24607000000,
  'accn': '0001104659-11-022352',
  'fy': 2011,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2011-04-26'},
 {'start': '2011-01-01',
  'end': '2011-03-31',
  'val': 24607000000,
  'accn': '0001104659-12-027715',
  'fy': 2012,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2012-04-24',
  'frame': 'CY2011Q1'},
 {'start': '2011-01-01',
  'end': '2011-06-30',
  'val': 51273000000,
  'accn': '0001104659-11-040759',
  'fy': 2011,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2011-07-26'},
 {'start': '2011-01-01',
  'end': '2011-06-30',
  'val': 51273000000,
  'accn': '0001104659-12-052637',
  'fy': 2012,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2012-07-31'},
 {'start': '2011-04-01',
  'end': '2011-06-30',
  'val': 26666000000,
  'accn': '0001104659-11-040759',
  'fy': 2011,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2011-07-26'},
 {'start': '2011-04-01',
  'end': '2011-06-30',
  'val': 26666000000,
  'accn': '0001104659-12-052637',
  'fy': 2012,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2012-07-31',
  'frame': 'CY2011Q2'},
 {'start': '2011-01-01',
  'end': '2011-09-30',
  'val': 77430000000,
  'accn': '0001104659-11-057630',
  'fy': 2011,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2011-10-25'},
 {'start': '2011-01-01',
  'end': '2011-09-30',
  'val': 77430000000,
  'accn': '0001104659-12-072210',
  'fy': 2012,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2012-10-30'},
 {'start': '2011-07-01',
  'end': '2011-09-30',
  'val': 26157000000,
  'accn': '0001104659-11-057630',
  'fy': 2011,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2011-10-25'},
 {'start': '2011-07-01',
  'end': '2011-09-30',
  'val': 26157000000,
  'accn': '0001104659-12-072210',
  'fy': 2012,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2012-10-30',
  'frame': 'CY2011Q3'},
 {'start': '2010-12-31',
  'end': '2011-12-31',
  'val': 106916000000,
  'accn': '0001047469-12-001742',
  'fy': 2011,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2012-02-28'},
 {'start': '2010-12-31',
  'end': '2011-12-31',
  'val': 106916000000,
  'accn': '0001047469-13-001698',
  'fy': 2012,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2013-02-26',
  'frame': 'CY2011'},
 {'start': '2011-01-01',
  'end': '2011-12-31',
  'val': 106916000000,
  'accn': '0001047469-14-001302',
  'fy': 2013,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2014-02-25'},
 {'start': '2012-01-01',
  'end': '2012-03-31',
  'val': 24673000000,
  'accn': '0001104659-12-027715',
  'fy': 2012,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2012-04-24'},
 {'start': '2012-01-01',
  'end': '2012-03-31',
  'val': 24673000000,
  'accn': '0001104659-13-035106',
  'fy': 2013,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2013-04-30',
  'frame': 'CY2012Q1'},
 {'start': '2012-01-01',
  'end': '2012-06-30',
  'val': 50456000000,
  'accn': '0001104659-12-052637',
  'fy': 2012,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2012-07-31'},
 {'start': '2012-01-01',
  'end': '2012-06-30',
  'val': 50456000000,
  'accn': '0001104659-13-058041',
  'fy': 2013,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2013-07-31'},
 {'start': '2012-04-01',
  'end': '2012-06-30',
  'val': 25783000000,
  'accn': '0001104659-12-052637',
  'fy': 2012,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2012-07-31'},
 {'start': '2012-04-01',
  'end': '2012-06-30',
  'val': 25783000000,
  'accn': '0001104659-13-058041',
  'fy': 2013,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2013-07-31',
  'frame': 'CY2012Q2'},
 {'start': '2012-01-01',
  'end': '2012-09-30',
  'val': 75203000000,
  'accn': '0001104659-12-072210',
  'fy': 2012,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2012-10-30'},
 {'start': '2012-01-01',
  'end': '2012-09-30',
  'val': 75203000000,
  'accn': '0000051143-13-000007',
  'fy': 2013,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2013-10-29'},
 {'start': '2012-07-01',
  'end': '2012-09-30',
  'val': 24747000000,
  'accn': '0001104659-12-072210',
  'fy': 2012,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2012-10-30'},
 {'start': '2012-07-01',
  'end': '2012-09-30',
  'val': 24747000000,
  'accn': '0000051143-13-000007',
  'fy': 2013,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2013-10-29',
  'frame': 'CY2012Q3'},
 {'start': '2012-01-01',
  'end': '2012-12-31',
  'val': 104507000000,
  'accn': '0001047469-13-001698',
  'fy': 2012,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2013-02-26'},
 {'start': '2012-01-01',
  'end': '2012-12-31',
  'val': 104507000000,
  'accn': '0001047469-14-001302',
  'fy': 2013,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2014-02-25'},
 {'start': '2012-01-01',
  'end': '2012-12-31',
  'val': 102874000000,
  'accn': '0001047469-15-001106',
  'fy': 2014,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2015-02-24',
  'frame': 'CY2012'},
 {'start': '2013-01-01',
  'end': '2013-03-31',
  'val': 23408000000,
  'accn': '0001104659-13-035106',
  'fy': 2013,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2013-04-30'},
 {'start': '2013-01-01',
  'end': '2013-03-31',
  'val': 23408000000,
  'accn': '0000051143-14-000004',
  'fy': 2014,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2014-04-29',
  'frame': 'CY2013Q1'},
 {'start': '2013-01-01',
  'end': '2013-06-30',
  'val': 48332000000,
  'accn': '0001104659-13-058041',
  'fy': 2013,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2013-07-31'},
 {'start': '2013-01-01',
  'end': '2013-06-30',
  'val': 48332000000,
  'accn': '0000051143-14-000007',
  'fy': 2014,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2014-07-29'},
 {'start': '2013-04-01',
  'end': '2013-06-30',
  'val': 24924000000,
  'accn': '0001104659-13-058041',
  'fy': 2013,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2013-07-31'},
 {'start': '2013-04-01',
  'end': '2013-06-30',
  'val': 24924000000,
  'accn': '0000051143-14-000007',
  'fy': 2014,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2014-07-29',
  'frame': 'CY2013Q2'},
 {'start': '2013-01-01',
  'end': '2013-09-30',
  'val': 72052000000,
  'accn': '0000051143-13-000007',
  'fy': 2013,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2013-10-29'},
 {'start': '2013-01-01',
  'end': '2013-09-30',
  'val': 70982000000,
  'accn': '0000051143-14-000010',
  'fy': 2014,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2014-10-28'},
 {'start': '2013-07-01',
  'end': '2013-09-30',
  'val': 23720000000,
  'accn': '0000051143-13-000007',
  'fy': 2013,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2013-10-29'},
 {'start': '2013-07-01',
  'end': '2013-09-30',
  'val': 23338000000,
  'accn': '0000051143-14-000010',
  'fy': 2014,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2014-10-28',
  'frame': 'CY2013Q3'},
 {'start': '2013-01-01',
  'end': '2013-12-31',
  'val': 99751000000,
  'accn': '0001047469-14-001302',
  'fy': 2013,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2014-02-25'},
 {'start': '2013-01-01',
  'end': '2013-12-31',
  'val': 98367000000,
  'accn': '0001047469-15-001106',
  'fy': 2014,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2015-02-24'},
 {'start': '2013-01-01',
  'end': '2013-12-31',
  'val': 98367000000,
  'accn': '0001047469-16-010329',
  'fy': 2015,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2016-02-23'},
 {'start': '2013-01-01',
  'end': '2013-12-31',
  'val': 98367000000,
  'accn': '0001104659-16-126857',
  'fy': 2015,
  'fp': 'FY',
  'form': '8-K',
  'filed': '2016-06-13',
  'frame': 'CY2013'},
 {'start': '2014-01-01',
  'end': '2014-03-31',
  'val': 22484000000,
  'accn': '0000051143-14-000004',
  'fy': 2014,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2014-04-29'},
 {'start': '2014-01-01',
  'end': '2014-03-31',
  'val': 22236000000,
  'accn': '0000051143-15-000003',
  'fy': 2015,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2015-04-28',
  'frame': 'CY2014Q1'},
 {'start': '2014-01-01',
  'end': '2014-06-30',
  'val': 46848000000,
  'accn': '0000051143-14-000007',
  'fy': 2014,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2014-07-29'},
 {'start': '2014-01-01',
  'end': '2014-06-30',
  'val': 46283000000,
  'accn': '0000051143-15-000005',
  'fy': 2015,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2015-07-28'},
 {'start': '2014-04-01',
  'end': '2014-06-30',
  'val': 24364000000,
  'accn': '0000051143-14-000007',
  'fy': 2014,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2014-07-29'},
 {'start': '2014-04-01',
  'end': '2014-06-30',
  'val': 24047000000,
  'accn': '0000051143-15-000005',
  'fy': 2015,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2015-07-28',
  'frame': 'CY2014Q2'},
 {'start': '2014-01-01',
  'end': '2014-09-30',
  'val': 68680000000,
  'accn': '0000051143-14-000010',
  'fy': 2014,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2014-10-28'},
 {'start': '2014-01-01',
  'end': '2014-09-30',
  'val': 68680000000,
  'accn': '0000051143-15-000009',
  'fy': 2015,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2015-10-27'},
 {'start': '2014-07-01',
  'end': '2014-09-30',
  'val': 22397000000,
  'accn': '0000051143-14-000010',
  'fy': 2014,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2014-10-28'},
 {'start': '2014-07-01',
  'end': '2014-09-30',
  'val': 22397000000,
  'accn': '0000051143-15-000009',
  'fy': 2015,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2015-10-27',
  'frame': 'CY2014Q3'},
 {'start': '2014-01-01',
  'end': '2014-12-31',
  'val': 92793000000,
  'accn': '0001047469-15-001106',
  'fy': 2014,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2015-02-24'},
 {'start': '2014-01-01',
  'end': '2014-12-31',
  'val': 92793000000,
  'accn': '0001047469-16-010329',
  'fy': 2015,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2016-02-23'},
 {'start': '2014-01-01',
  'end': '2014-12-31',
  'val': 92793000000,
  'accn': '0001104659-16-126857',
  'fy': 2015,
  'fp': 'FY',
  'form': '8-K',
  'filed': '2016-06-13'},
 {'start': '2014-01-01',
  'end': '2014-12-31',
  'val': 92793000000,
  'accn': '0001047469-17-001061',
  'fy': 2016,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2017-02-28',
  'frame': 'CY2014'},
 {'start': '2015-01-01',
  'end': '2015-03-31',
  'val': 19590000000,
  'accn': '0000051143-15-000003',
  'fy': 2015,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2015-04-28'},
 {'start': '2015-01-01',
  'end': '2015-03-31',
  'val': 19590000000,
  'accn': '0000051143-16-000013',
  'fy': 2016,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2016-04-26',
  'frame': 'CY2015Q1'},
 {'start': '2015-01-01',
  'end': '2015-06-30',
  'val': 40403000000,
  'accn': '0000051143-15-000005',
  'fy': 2015,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2015-07-28'},
 {'start': '2015-01-01',
  'end': '2015-06-30',
  'val': 40403000000,
  'accn': '0001104659-16-134367',
  'fy': 2016,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2016-07-26'},
 {'start': '2015-04-01',
  'end': '2015-06-30',
  'val': 20813000000,
  'accn': '0000051143-15-000005',
  'fy': 2015,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2015-07-28'},
 {'start': '2015-04-01',
  'end': '2015-06-30',
  'val': 20813000000,
  'accn': '0001104659-16-134367',
  'fy': 2016,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2016-07-26',
  'frame': 'CY2015Q2'},
 {'start': '2015-01-01',
  'end': '2015-09-30',
  'val': 59682000000,
  'accn': '0000051143-15-000009',
  'fy': 2015,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2015-10-27'},
 {'start': '2015-01-01',
  'end': '2015-09-30',
  'val': 59682000000,
  'accn': '0001104659-16-151931',
  'fy': 2016,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2016-10-25'},
 {'start': '2015-07-01',
  'end': '2015-09-30',
  'val': 19280000000,
  'accn': '0000051143-15-000009',
  'fy': 2015,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2015-10-27'},
 {'start': '2015-07-01',
  'end': '2015-09-30',
  'val': 19280000000,
  'accn': '0001104659-16-151931',
  'fy': 2016,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2016-10-25',
  'frame': 'CY2015Q3'},
 {'start': '2015-01-01',
  'end': '2015-12-31',
  'val': 81741000000,
  'accn': '0001047469-16-010329',
  'fy': 2015,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2016-02-23'},
 {'start': '2015-01-01',
  'end': '2015-12-31',
  'val': 81741000000,
  'accn': '0001104659-16-126857',
  'fy': 2015,
  'fp': 'FY',
  'form': '8-K',
  'filed': '2016-06-13'},
 {'start': '2015-01-01',
  'end': '2015-12-31',
  'val': 81741000000,
  'accn': '0001047469-17-001061',
  'fy': 2016,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2017-02-28'},
 {'start': '2015-01-01',
  'end': '2015-12-31',
  'val': 81741000000,
  'accn': '0001047469-18-001117',
  'fy': 2017,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2018-02-27',
  'frame': 'CY2015'},
 {'start': '2016-01-01',
  'end': '2016-03-31',
  'val': 18684000000,
  'accn': '0000051143-16-000013',
  'fy': 2016,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2016-04-26'},
 {'start': '2016-01-01',
  'end': '2016-03-31',
  'val': 18684000000,
  'accn': '0001104659-17-025881',
  'fy': 2017,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2017-04-25',
  'frame': 'CY2016Q1'},
 {'start': '2016-01-01',
  'end': '2016-06-30',
  'val': 38923000000,
  'accn': '0001104659-16-134367',
  'fy': 2016,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2016-07-26'},
 {'start': '2016-01-01',
  'end': '2016-06-30',
  'val': 38923000000,
  'accn': '0001104659-17-046808',
  'fy': 2017,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2017-07-25'},
 {'start': '2016-04-01',
  'end': '2016-06-30',
  'val': 20238000000,
  'accn': '0001104659-16-134367',
  'fy': 2016,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2016-07-26'},
 {'start': '2016-04-01',
  'end': '2016-06-30',
  'val': 20238000000,
  'accn': '0001104659-17-046808',
  'fy': 2017,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2017-07-25',
  'frame': 'CY2016Q2'},
 {'start': '2016-01-01',
  'end': '2016-09-30',
  'val': 58149000000,
  'accn': '0001104659-16-151931',
  'fy': 2016,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2016-10-25'},
 {'start': '2016-01-01',
  'end': '2016-09-30',
  'val': 58149000000,
  'accn': '0001104659-17-064968',
  'fy': 2017,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2017-10-31'},
 {'start': '2016-07-01',
  'end': '2016-09-30',
  'val': 19226000000,
  'accn': '0001104659-16-151931',
  'fy': 2016,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2016-10-25'},
 {'start': '2016-07-01',

In [121]:
pd.DataFrame(gaap["Assets"]["units"]["USD"])

,end,val,accn,fy,fp,form,filed,frame
0,2008-12-31,109524000000,0001104659-09-045198,2009,Q2,10-Q,2009-07-28,NaN
1,2008-12-31,109524000000,0001104659-09-060554,2009,Q3,10-Q,2009-10-27,NaN
2,2008-12-31,109524000000,0001047469-10-001151,2009,FY,10-K,2010-02-23,NaN
3,2008-12-31,109524000000,0001047469-11-001117,2010,FY,10-K,2011-02-22,CY2008Q4I
4,2009-06-30,103655000000,0001104659-09-045198,2009,Q2,10-Q,2009-07-28,CY2009Q2I
...,...,...,...,...,...,...,...,...
114,2021-06-30,146814000000,0001558370-21-009351,2021,Q2,10-Q,2021-07-27,CY2021Q2I
115,2021-09-30,144214000000,0001558370-21-014734,2021,Q3,10-Q,2021-11-05,CY2021Q3I
116,2021-12-31,132001000000,0001558370-22-001584,2021,FY,10-K,2022-02-22,NaN
117,2021-12-31,132001000000,0001558370-22-005983,2022,Q1,10-Q,2022-04-26,CY2021Q4I
118,2022-03-31,133275000000,0001558370-22-005983,2022,Q1,10-Q,2022-04-26,CY2022Q1I

In [619]:
frame = pd.DataFrame(keyQuarters(gaap["Revenues"]["units"]["USD"]))
frame = frame[["fy", "val", "frame", "form"]]
# frame = frame.append(make_q4(frame))
frame
# make_q4(consolidate())

      fy           val     frame  form
0   2009   98786000000    CY2007  10-K
1   2009   26820000000  CY2008Q2  10-Q
2   2009   25302000000  CY2008Q3  10-Q
3   2010  103630000000    CY2008  10-K
4   2010   21711000000  CY2009Q1  10-Q
5   2010   23250000000  CY2009Q2  10-Q
6   2010   23566000000  CY2009Q3  10-Q
7   2011   95758000000    CY2009  10-K
8   2011   22857000000  CY2010Q1  10-Q
9   2011   23724000000  CY2010Q2  10-Q
10  2011   24271000000  CY2010Q3  10-Q
11  2012   99870000000    CY2010  10-K
12  2012   24607000000  CY2011Q1  10-Q
13  2012   26666000000  CY2011Q2  10-Q
14  2012   26157000000  CY2011Q3  10-Q
15  2012  106916000000    CY2011  10-K
16  2013   24673000000  CY2012Q1  10-Q
17  2013   25783000000  CY2012Q2  10-Q
18  2013   24747000000  CY2012Q3  10-Q
19  2014  102874000000    CY2012  10-K
20  2014   23408000000  CY2013Q1  10-Q
21  2014   24924000000  CY2013Q2  10-Q
22  2014   23338000000  CY2013Q3  10-Q
23  2015   98367000000    CY2013   8-K
24  2015   22236000000  CY2014Q1  10-Q
25  2015   24047000000  CY2014Q2  10-Q
26  2015   22397000000  CY2014Q3  10-Q
27  2016   92793000000    CY2014  10-K
28  2016   19590000000  CY2015Q1  10-Q
29  2016   20813000000  CY2015Q2  10-Q
30  2016   19280000000  CY2015Q3  10-Q
31  2017   81741000000    CY2015  10-K
32  2017   18684000000  CY2016Q1  10-Q
33  2017   20238000000  CY2016Q2  10-Q
34  2017   19226000000  CY2016Q3  10-Q
35  2018   79919000000    CY2016  10-K
36  2018   18155000000  CY2017Q1  10-Q
37  2018   19289000000  CY2017Q2  10-Q
38  2018   19153000000  CY2017Q3  10-Q
39  2019   79139000000    CY2017  10-K
40  2019   19072000000  CY2018Q1  10-Q
41  2019   20003000000  CY2018Q2  10-Q
42  2019   18756000000  CY2018Q3  10-Q
43  2020   79591000000    CY2018  10-K
44  2020   18182000000  CY2019Q1  10-Q
45  2020   19161000000  CY2019Q2  10-Q
46  2020   18028000000  CY2019Q3  10-Q
47  2021   57714000000    CY2019  10-K
48  2021   17571000000  CY2020Q1  10-Q
49  2021   18123000000  CY2020Q2  10-Q
50  2021   17560000000  CY2020Q3  10-Q
51  2021   55179000000    CY2020  10-K
52  2022   13187000000  CY2021Q1  10-Q
53  2021   18745000000  CY2021Q2  10-Q
54  2021   17618000000  CY2021Q3  10-Q
55  2021   57350000000    CY2021  10-K
56  2022   14197000000  CY2022Q1  10-Q

In [637]:
gaap["Assets"]["units"]["USD"]

[{'end': '2008-12-31',
  'val': 109524000000,
  'accn': '0001104659-09-045198',
  'fy': 2009,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2009-07-28'},
 {'end': '2008-12-31',
  'val': 109524000000,
  'accn': '0001104659-09-060554',
  'fy': 2009,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2009-10-27'},
 {'end': '2008-12-31',
  'val': 109524000000,
  'accn': '0001047469-10-001151',
  'fy': 2009,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2010-02-23'},
 {'end': '2008-12-31',
  'val': 109524000000,
  'accn': '0001047469-11-001117',
  'fy': 2010,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2011-02-22',
  'frame': 'CY2008Q4I'},
 {'end': '2009-06-30',
  'val': 103655000000,
  'accn': '0001104659-09-045198',
  'fy': 2009,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2009-07-28',
  'frame': 'CY2009Q2I'},
 {'end': '2009-09-30',
  'val': 103675000000,
  'accn': '0001104659-09-060554',
  'fy': 2009,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2009-10-27',
  'frame': 'CY2009Q3I'},
 {'end': '2009-12-31',
  'val': 109022000000,
  'accn': '0001047469-10-001151',
  'fy': 2009,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2010-02-23'},
 {'end': '2009-12-31',
  'val': 109022000000,
  'accn': '0001104659-10-022064',
  'fy': 2010,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2010-04-27'},
 {'end': '2009-12-31',
  'val': 109022000000,
  'accn': '0001104659-10-039808',
  'fy': 2010,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2010-07-27'},
 {'end': '2009-12-31',
  'val': 109022000000,
  'accn': '0001104659-10-053716',
  'fy': 2010,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2010-10-26'},
 {'end': '2009-12-31',
  'val': 109022000000,
  'accn': '0001047469-11-001117',
  'fy': 2010,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2011-02-22'},
 {'end': '2009-12-31',
  'val': 109022000000,
  'accn': '0001047469-12-001742',
  'fy': 2011,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2012-02-28',
  'frame': 'CY2009Q4I'},
 {'end': '2010-03-31',
  'val': 105208000000,
  'accn': '0001104659-10-022064',
  'fy': 2010,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2010-04-27',
  'frame': 'CY2010Q1I'},
 {'end': '2010-06-30',
  'val': 103420000000,
  'accn': '0001104659-10-039808',
  'fy': 2010,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2010-07-27',
  'frame': 'CY2010Q2I'},
 {'end': '2010-09-30',
  'val': 107174000000,
  'accn': '0001104659-10-053716',
  'fy': 2010,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2010-10-26',
  'frame': 'CY2010Q3I'},
 {'end': '2010-12-31',
  'val': 113452000000,
  'accn': '0001047469-11-001117',
  'fy': 2010,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2011-02-22'},
 {'end': '2010-12-31',
  'val': 113452000000,
  'accn': '0001104659-11-022352',
  'fy': 2011,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2011-04-26'},
 {'end': '2010-12-31',
  'val': 113452000000,
  'accn': '0001104659-11-040759',
  'fy': 2011,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2011-07-26'},
 {'end': '2010-12-31',
  'val': 113452000000,
  'accn': '0001104659-11-057630',
  'fy': 2011,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2011-10-25'},
 {'end': '2010-12-31',
  'val': 113452000000,
  'accn': '0001047469-12-001742',
  'fy': 2011,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2012-02-28'},
 {'end': '2010-12-31',
  'val': 113452000000,
  'accn': '0001047469-13-001698',
  'fy': 2012,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2013-02-26',
  'frame': 'CY2010Q4I'},
 {'end': '2011-03-31',
  'val': 112960000000,
  'accn': '0001104659-11-022352',
  'fy': 2011,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2011-04-26',
  'frame': 'CY2011Q1I'},
 {'end': '2011-06-30',
  'val': 113474000000,
  'accn': '0001104659-11-040759',
  'fy': 2011,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2011-07-26',
  'frame': 'CY2011Q2I'},
 {'end': '2011-09-30',
  'val': 110158000000,
  'accn': '0001104659-11-057630',
  'fy': 2011,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2011-10-25',
  'frame': 'CY2011Q3I'},
 {'end': '2011-12-31',
  'val': 116433000000,
  'accn': '0001047469-12-001742',
  'fy': 2011,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2012-02-28'},
 {'end': '2011-12-31',
  'val': 116433000000,
  'accn': '0001104659-12-027715',
  'fy': 2012,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2012-04-24'},
 {'end': '2011-12-31',
  'val': 116433000000,
  'accn': '0001104659-12-052637',
  'fy': 2012,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2012-07-31'},
 {'end': '2011-12-31',
  'val': 116433000000,
  'accn': '0001104659-12-072210',
  'fy': 2012,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2012-10-30'},
 {'end': '2011-12-31',
  'val': 116433000000,
  'accn': '0001047469-13-001698',
  'fy': 2012,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2013-02-26'},
 {'end': '2011-12-31',
  'val': 116433000000,
  'accn': '0001047469-14-001302',
  'fy': 2013,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2014-02-25',
  'frame': 'CY2011Q4I'},
 {'end': '2012-03-31',
  'val': 115347000000,
  'accn': '0001104659-12-027715',
  'fy': 2012,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2012-04-24',
  'frame': 'CY2012Q1I'},
 {'end': '2012-06-30',
  'val': 113832000000,
  'accn': '0001104659-12-052637',
  'fy': 2012,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2012-07-31',
  'frame': 'CY2012Q2I'},
 {'end': '2012-09-30',
  'val': 115778000000,
  'accn': '0001104659-12-072210',
  'fy': 2012,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2012-10-30',
  'frame': 'CY2012Q3I'},
 {'end': '2012-12-31',
  'val': 119213000000,
  'accn': '0001047469-13-001698',
  'fy': 2012,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2013-02-26'},
 {'end': '2012-12-31',
  'val': 119213000000,
  'accn': '0001104659-13-035106',
  'fy': 2013,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2013-04-30'},
 {'end': '2012-12-31',
  'val': 119213000000,
  'accn': '0001104659-13-058041',
  'fy': 2013,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2013-07-31'},
 {'end': '2012-12-31',
  'val': 119213000000,
  'accn': '0000051143-13-000007',
  'fy': 2013,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2013-10-29'},
 {'end': '2012-12-31',
  'val': 119213000000,
  'accn': '0001047469-14-001302',
  'fy': 2013,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2014-02-25'},
 {'end': '2012-12-31',
  'val': 119213000000,
  'accn': '0001047469-15-001106',
  'fy': 2014,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2015-02-24',
  'frame': 'CY2012Q4I'},
 {'end': '2013-03-31',
  'val': 117258000000,
  'accn': '0001104659-13-035106',
  'fy': 2013,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2013-04-30',
  'frame': 'CY2013Q1I'},
 {'end': '2013-06-30',
  'val': 115153000000,
  'accn': '0001104659-13-058041',
  'fy': 2013,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2013-07-31',
  'frame': 'CY2013Q2I'},
 {'end': '2013-09-30',
  'val': 117845000000,
  'accn': '0000051143-13-000007',
  'fy': 2013,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2013-10-29',
  'frame': 'CY2013Q3I'},
 {'end': '2013-12-31',
  'val': 126223000000,
  'accn': '0001047469-14-001302',
  'fy': 2013,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2014-02-25'},
 {'end': '2013-12-31',
  'val': 126223000000,
  'accn': '0000051143-14-000004',
  'fy': 2014,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2014-04-29'},
 {'end': '2013-12-31',
  'val': 126223000000,
  'accn': '0000051143-14-000007',
  'fy': 2014,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2014-07-29'},
 {'end': '2013-12-31',
  'val': 126223000000,
  'accn': '0000051143-14-000010',
  'fy': 2014,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2014-10-28'},
 {'end': '2013-12-31',
  'val': 126223000000,
  'accn': '0001047469-15-001106',
  'fy': 2014,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2015-02-24'},
 {'end': '2013-12-31',
  'val': 125641000000,
  'accn': '0001047469-16-010329',
  'fy': 2015,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2016-02-23'},
 {'end': '2013-12-31',
  'val': 125641000000,
  'accn': '0001104659-16-126857',
  'fy': 2015,
  'fp': 'FY',
  'form': '8-K',
  'filed': '2016-06-13',
  'frame': 'CY2013Q4I'},
 {'end': '2014-03-31',
  'val': 122646000000,
  'accn': '0000051143-14-000004',
  'fy': 2014,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2014-04-29',
  'frame': 'CY2014Q1I'},
 {'end': '2014-06-30',
  'val': 124314000000,
  'accn': '0000051143-14-000007',
  'fy': 2014,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2014-07-29',
  'frame': 'CY2014Q2I'},
 {'end': '2014-09-30',
  'val': 118911000000,
  'accn': '0000051143-14-000010',
  'fy': 2014,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2014-10-28',
  'frame': 'CY2014Q3I'},
 {'end': '2014-12-31',
  'val': 117532000000,
  'accn': '0001047469-15-001106',
  'fy': 2014,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2015-02-24'},
 {'end': '2014-12-31',
  'val': 117532000000,
  'accn': '0000051143-15-000003',
  'fy': 2015,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2015-04-28'},
 {'end': '2014-12-31',
  'val': 117532000000,
  'accn': '0000051143-15-000005',
  'fy': 2015,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2015-07-28'},
 {'end': '2014-12-31',
  'val': 117532000000,
  'accn': '0000051143-15-000009',
  'fy': 2015,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2015-10-27'},
 {'end': '2014-12-31',
  'val': 117271000000,
  'accn': '0001047469-16-010329',
  'fy': 2015,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2016-02-23'},
 {'end': '2014-12-31',
  'val': 117271000000,
  'accn': '0001104659-16-126857',
  'fy': 2015,
  'fp': 'FY',
  'form': '8-K',
  'filed': '2016-06-13'},
 {'end': '2014-12-31',
  'val': 117271000000,
  'accn': '0001047469-17-001061',
  'fy': 2016,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2017-02-28',
  'frame': 'CY2014Q4I'},
 {'end': '2015-03-31',
  'val': 112037000000,
  'accn': '0000051143-15-000003',
  'fy': 2015,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2015-04-28',
  'frame': 'CY2015Q1I'},
 {'end': '2015-06-30',
  'val': 112729000000,
  'accn': '0000051143-15-000005',
  'fy': 2015,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2015-07-28',
  'frame': 'CY2015Q2I'},
 {'end': '2015-09-30',
  'val': 108649000000,
  'accn': '0000051143-15-000009',
  'fy': 2015,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2015-10-27',
  'frame': 'CY2015Q3I'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0001047469-16-010329',
  'fy': 2015,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2016-02-23'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0000051143-16-000013',
  'fy': 2016,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2016-04-26'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0001104659-16-126857',
  'fy': 2015,
  'fp': 'FY',
  'form': '8-K',
  'filed': '2016-06-13'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0001104659-16-134367',
  'fy': 2016,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2016-07-26'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0001104659-16-151931',
  'fy': 2016,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2016-10-25'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0001047469-17-001061',
  'fy': 2016,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2017-02-28'},
 {'end': '2015-12-31',
  'val': 110495000000,
  'accn': '0001047469-18-001117',
  'fy': 2017,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2018-02-27',
  'frame': 'CY2015Q4I'},
 {'end': '2016-03-31',
  'val': 118856000000,
  'accn': '0000051143-16-000013',
  'fy': 2016,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2016-04-26',
  'frame': 'CY2016Q1I'},
 {'end': '2016-06-30',
  'val': 118056000000,
  'accn': '0001104659-16-134367',
  'fy': 2016,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2016-07-26',
  'frame': 'CY2016Q2I'},
 {'end': '2016-09-30',
  'val': 115606000000,
  'accn': '0001104659-16-151931',
  'fy': 2016,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2016-10-25',
  'frame': 'CY2016Q3I'},
 {'end': '2016-12-31',
  'val': 117470000000,
  'accn': '0001047469-17-001061',
  'fy': 2016,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2017-02-28'},
 {'end': '2016-12-31',
  'val': 117470000000,
  'accn': '0001104659-17-025881',
  'fy': 2017,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2017-04-25'},
 {'end': '2016-12-31',
  'val': 117470000000,
  'accn': '0001104659-17-046808',
  'fy': 2017,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2017-07-25'},
 {'end': '2016-12-31',
  'val': 117470000000,
  'accn': '0001104659-17-064968',
  'fy': 2017,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2017-10-31'},
 {'end': '2016-12-31',
  'val': 117470000000,
  'accn': '0001047469-18-001117',
  'fy': 2017,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2018-02-27'},
 {'end': '2016-12-31',
  'val': 117470000000,
  'accn': '0001047469-19-000712',
  'fy': 2018,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2019-02-26',
  'frame': 'CY2016Q4I'},
 {'end': '2017-03-31',
  'val': 117495000000,
  'accn': '0001104659-17-025881',
  'fy': 2017,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2017-04-25',
  'frame': 'CY2017Q1I'},
 {'end': '2017-06-30',
  'val': 120495000000,
  'accn': '0001104659-17-046808',
  'fy': 2017,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2017-07-25',
  'frame': 'CY2017Q2I'},
 {'end': '2017-09-30',
  'val': 121636000000,
  'accn': '0001104659-17-064968',
  'fy': 2017,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2017-10-31',
  'frame': 'CY2017Q3I'},
 {'end': '2017-12-31',
  'val': 125356000000,
  'accn': '0001047469-18-001117',
  'fy': 2017,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2018-02-27'},
 {'end': '2017-12-31',
  'val': 125356000000,
  'accn': '0001104659-18-026178',
  'fy': 2018,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2018-04-24'},
 {'end': '2017-12-31',
  'val': 125356000000,
  'accn': '0001104659-18-048404',
  'fy': 2018,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2018-07-31'},
 {'end': '2017-12-31',
  'val': 125356000000,
  'accn': '0001104659-18-064673',
  'fy': 2018,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2018-10-30'},
 {'end': '2017-12-31',
  'val': 125356000000,
  'accn': '0001047469-19-000712',
  'fy': 2018,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2019-02-26'},
 {'end': '2017-12-31',
  'val': 125356000000,
  'accn': '0001558370-20-001334',
  'fy': 2019,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2020-02-25',
  'frame': 'CY2017Q4I'},
 {'end': '2018-03-31',
  'val': 125285000000,
  'accn': '0001104659-18-026178',
  'fy': 2018,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2018-04-24',
  'frame': 'CY2018Q1I'},
 {'end': '2018-06-30',
  'val': 121622000000,
  'accn': '0001104659-18-048404',
  'fy': 2018,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2018-07-31',
  'frame': 'CY2018Q2I'},
 {'end': '2018-09-30',
  'val': 121990000000,
  'accn': '0001104659-18-064673',
  'fy': 2018,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2018-10-30',
  'frame': 'CY2018Q3I'},
 {'end': '2018-12-31',
  'val': 123382000000,
  'accn': '0001047469-19-000712',
  'fy': 2018,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2019-02-26'},
 {'end': '2018-12-31',
  'val': 123382000000,
  'accn': '0001104659-19-025328',
  'fy': 2019,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2019-04-30'},
 {'end': '2018-12-31',
  'val': 123382000000,
  'accn': '0001558370-19-006560',
  'fy': 2019,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2019-07-30'},
 {'end': '2018-12-31',
  'val': 123382000000,
  'accn': '0001558370-19-009324',
  'fy': 2019,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2019-10-30'},
 {'end': '2018-12-31',
  'val': 123382000000,
  'accn': '0001558370-20-001334',
  'fy': 2019,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2020-02-25'},
 {'end': '2018-12-31',
  'val': 123382000000,
  'accn': '0001558370-21-001489',
  'fy': 2020,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2021-02-23',
  'frame': 'CY2018Q4I'},
 {'end': '2019-03-31',
  'val': 130926000000,
  'accn': '0001104659-19-025328',
  'fy': 2019,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2019-04-30',
  'frame': 'CY2019Q1I'},
 {'end': '2019-06-30',
  'val': 154652000000,
  'accn': '0001558370-19-006560',
  'fy': 2019,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2019-07-30',
  'frame': 'CY2019Q2I'},
 {'end': '2019-09-30',
  'val': 149620000000,
  'accn': '0001558370-19-009324',
  'fy': 2019,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2019-10-30',
  'frame': 'CY2019Q3I'},
 {'end': '2019-12-31',
  'val': 152186000000,
  'accn': '0001558370-20-001334',
  'fy': 2019,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2020-02-25'},
 {'end': '2019-12-31',
  'val': 152186000000,
  'accn': '0001558370-20-004491',
  'fy': 2020,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2020-04-28'},
 {'end': '2019-12-31',
  'val': 152186000000,
  'accn': '0001558370-20-008516',
  'fy': 2020,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2020-07-28'},
 {'end': '2019-12-31',
  'val': 152186000000,
  'accn': '0001558370-20-011799',
  'fy': 2020,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2020-10-27'},
 {'end': '2019-12-31',
  'val': 152186000000,
  'accn': '0001558370-21-001489',
  'fy': 2020,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2021-02-23'},
 {'end': '2019-12-31',
  'val': 152186000000,
  'accn': '0001558370-22-001584',
  'fy': 2021,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2022-02-22',
  'frame': 'CY2019Q4I'},
 {'end': '2020-03-31',
  'val': 153403000000,
  'accn': '0001558370-20-004491',
  'fy': 2020,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2020-04-28',
  'frame': 'CY2020Q1I'},
 {'end': '2020-06-30',
  'val': 154200000000,
  'accn': '0001558370-20-008516',
  'fy': 2020,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2020-07-28',
  'frame': 'CY2020Q2I'},
 {'end': '2020-09-30',
  'val': 154128000000,
  'accn': '0001558370-20-011799',
  'fy': 2020,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2020-10-27',
  'frame': 'CY2020Q3I'},
 {'end': '2020-12-31',
  'val': 155971000000,
  'accn': '0001558370-21-001489',
  'fy': 2020,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2021-02-23'},
 {'end': '2020-12-31',
  'val': 155971000000,
  'accn': '0001558370-21-004922',
  'fy': 2021,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2021-04-27'},
 {'end': '2020-12-31',
  'val': 155971000000,
  'accn': '0001558370-21-009351',
  'fy': 2021,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2021-07-27'},
 {'end': '2020-12-31',
  'val': 155971000000,
  'accn': '0001558370-21-014734',
  'fy': 2021,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2021-11-05'},
 {'end': '2020-12-31',
  'val': 155971000000,
  'accn': '0001558370-22-001584',
  'fy': 2021,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2022-02-22',
  'frame': 'CY2020Q4I'},
 {'end': '2021-03-31',
  'val': 148629000000,
  'accn': '0001558370-21-004922',
  'fy': 2021,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2021-04-27',
  'frame': 'CY2021Q1I'},
 {'end': '2021-06-30',
  'val': 146814000000,
  'accn': '0001558370-21-009351',
  'fy': 2021,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2021-07-27',
  'frame': 'CY2021Q2I'},
 {'end': '2021-09-30',
  'val': 144214000000,
  'accn': '0001558370-21-014734',
  'fy': 2021,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2021-11-05',
  'frame': 'CY2021Q3I'},
 {'end': '2021-12-31',
  'val': 132001000000,
  'accn': '0001558370-22-001584',
  'fy': 2021,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2022-02-22'},
 {'end': '2021-12-31',
  'val': 132001000000,
  'accn': '0001558370-22-005983',
  'fy': 2022,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2022-04-26',
  'frame': 'CY2021Q4I'},
 {'end': '2022-03-31',
  'val': 133275000000,
  'accn': '0001558370-22-005983',
  'fy': 2022,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2022-04-26',
  'frame': 'CY2022Q1I'}]

In [634]:
consolidate(keyQuarters(gaap["Revenues"]["units"]["USD"]))

C:\Users\jonat\AppData\Local\Temp\ipykernel_12040\4174423929.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  frame = frame.append(make_q4(frame))

frame
CY2007      98786000000.00
CY2008     103630000000.00
CY2009      95758000000.00
CY2008Q2    26820000000.00
CY2008Q3    25302000000.00
                 ...
CY2021Q1    13187000000.00
CY2021Q2    18745000000.00
CY2021Q3    17618000000.00
CY2021Q4     7800000000.00
CY2022Q1    14197000000.00
Name: val, Length: 69, dtype: float64

In [540]:
t["frame2"] = t["frame"].transform(lambda x: x[2:])

In [533]:
s = pd.DataFrame(consolidate(keyQuarters(gaap["Revenues"]["units"]["USD"])))

In [535]:
s

                   val
frame
CY2007     98786000000
CY2008Q2   26820000000
CY2008Q3   25302000000
CY2008    103630000000
CY2009Q1   21711000000
CY2009Q2   23250000000
CY2009Q3   23566000000
CY2009     95758000000
CY2010Q1   22857000000
CY2010Q2   23724000000
CY2010Q3   24271000000
CY2010     99870000000
CY2011Q1   24607000000
CY2011Q2   26666000000
CY2011Q3   26157000000
CY2011    106916000000
CY2012Q1   24673000000
CY2012Q2   25783000000
CY2012Q3   24747000000
CY2012    102874000000
CY2013Q1   23408000000
CY2013Q2   24924000000
CY2013Q3   23338000000
CY2013     98367000000
CY2014Q1   22236000000
CY2014Q2   24047000000
CY2014Q3   22397000000
CY2014     92793000000
CY2015Q1   19590000000
CY2015Q2   20813000000
CY2015Q3   19280000000
CY2015     81741000000
CY2016Q1   18684000000
CY2016Q2   20238000000
CY2016Q3   19226000000
CY2016     79919000000
CY2017Q1   18155000000
CY2017Q2   19289000000
CY2017Q3   19153000000
CY2017     79139000000
CY2018Q1   19072000000
CY2018Q2   20003000000
CY2018Q3   18756000000
CY2018     79591000000
CY2019Q1   18182000000
CY2019Q2   19161000000
CY2019Q3   18028000000
CY2019     57714000000
CY2020Q1   17571000000
CY2020Q2   18123000000
CY2020Q3   17560000000
CY2020     55179000000
CY2021Q1   13187000000
CY2021Q2   18745000000
CY2021Q3   17618000000
CY2021     57350000000
CY2022Q1   14197000000

In [527]:
make_q4(t)["fy"].transform(lambda x: f"CY{x}Q4")

0    CY2020Q4
1    CY2021Q4
Name: fy, dtype: object

In [303]:
chart = make_frame(gaap)

In [307]:
chart.T.to_excel("example_table.xlsx")

In [517]:
chart

,Total revenue,Total cost,Gross profit,"Selling, general and administrative","Research, development and engineering",Interest expense,Income before taxes,Net income,Total current assets,Total assets,Total current liabilities,Total liabilities,Retained earnings,Total equity,Total liabilities and equity
frame,,,,,,,,,,,,,,,
CY2007,98786000000,57057000000,41729000000,22060000000,6153000000,611000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2008Q2,26820000000,15221000000,11599000000,6289000000,1660000000,145000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2008Q3,25302000000,14342000000,10959000000,5644000000,1579000000,159000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2008,103630000000,57969000000,45661000000,23386000000,6337000000,673000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2009Q1,21711000000,12280000000,9431000000,5264000000,1480000000,136000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2009Q2,23250000000,12669000000,10581000000,5115000000,1434000000,101000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2009Q3,23566000000,12938000000,10627000000,5013000000,1446000000,84000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2009,95758000000,51973000000,43785000000,20952000000,5820000000,402000000,18138000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2010Q1,22857000000,12880000000,9976000000,5677000000,1509000000,82000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2010Q2,23724000000,12915000000,10809000000,5061000000,1475000000,90000000,4575000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2010Q3,24271000000,13270000000,11001000000,5149000000,1464000000,95000000,4677000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2010,99870000000,53857000000,46014000000,21837000000,6026000000,368000000,19723000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2011Q1,24607000000,13749000000,10858000000,5826000000,1587000000,93000000,3817000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2011Q2,26666000000,14282000000,12385000000,6030000000,1569000000,97000000,4885000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2011Q3,26157000000,13984000000,12173000000,5662000000,1546000000,107000000,5027000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2011,106916000000,56778000000,50138000000,23594000000,6258000000,411000000,21003000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2012Q1,24673000000,13555000000,11118000000,5886000000,1601000000,110000000,3836000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2012Q2,25783000000,13502000000,12281000000,5837000000,1587000000,117000000,5161000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2012Q3,24747000000,13016000000,11732000000,5908000000,1534000000,124000000,5074000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2012,102874000000,52513000000,50361000000,23463000000,5816000000,459000000,22540000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2013Q1,23408000000,12730000000,10678000000,5577000000,1644000000,94000000,3606000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2013Q2,24924000000,12792000000,12132000000,6680000000,1548000000,98000000,4144000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2013Q3,23338000000,11908000000,11429000000,5260000000,1356000000,97000000,4972000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2013,98367000000,49683000000,48684000000,23451000000,5743000000,402000000,20244000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2014Q1,22236000000,11608000000,10627000000,6272000000,1402000000,105000000,3183000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2014Q2,24047000000,12003000000,12044000000,5593000000,1361000000,136000000,5348000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2014Q3,22397000000,11523000000,10874000000,5281000000,1354000000,126000000,4361000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2014,92793000000,46386000000,46407000000,23180000000,5437000000,484000000,19986000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2015Q1,19590000000,10138000000,9452000000,5362000000,1298000000,108000000,3001000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2015Q2,20813000000,10423000000,10390000000,5179000000,1300000000,115000000,4224000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2015Q3,19280000000,9844000000,9436000000,4731000000,1287000000,117000000,3621000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2015,81741000000,41057000000,40684000000,20430000000,5247000000,468000000,15945000000.00,13190000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2016Q1,18684000000,9999000000,8686000000,6012000000,1458000000,147000000,1034000000.00,2014000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2016Q2,20238000000,10536000000,9702000000,5349000000,1465000000,167000000,3049000000.00,2504000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2016Q3,19226000000,10213000000,9013000000,4732000000,1397000000,158000000,3263000000.00,2853000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2016,79919000000,41403000000,38516000000,20869000000,5726000000,630000000,12330000000.00,11872000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2017Q1,18155000000,10211000000,7944000000,5027000000,1484000000,135000000,1424000000.00,1750000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2017Q2,19289000000,10321000000,8968000000,5033000000,1436000000,147000000,2443000000.00,2331000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2017Q3,19153000000,10172000000,8981000000,4606000000,1291000000,168000000,3065000000.00,2726000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2017,79139000000,42196000000,36943000000,19680000000,5590000000,615000000,11400000000.00,5753000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2018Q1,19072000000,10825000000,8247000000,5445000000,1405000000,165000000,1136000000.00,1679000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2018Q2,20003000000,10804000000,9199000000,4857000000,1364000000,173000000,2776000000.00,2404000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2018Q3,18756000000,9953000000,8803000000,4363000000,1252000000,191000000,2996000000.00,2694000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2018,79591000000,42655000000,36936000000,19366000000,5379000000,723000000,11342000000.00,8728000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2019Q1,18182000000,10139000000,8043000000,4691000000,1433000000,210000000,1883000000.00,1591000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2019Q2,19161000000,10151000000,9010000000,5456000000,1407000000,348000000,2768000000.00,2498000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2019Q3,18028000000,9692000000,8336000000,5024000000,1553000000,432000000,1522000000.00,1672000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2019,57714000000,26181000000,31533000000,18724000000,5910000000,1344000000,7206000000.00,9431000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2020Q1,17571000000,9649000000,7922000000,5955000000,1625000000,326000000,-49000000.00,1175000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2020Q2,18123000000,9423000000,8700000000,5248000000,1582000000,323000000,1571000000.00,1361000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2020Q3,17560000000,9130000000,8430000000,4647000000,1515000000,323000000,1827000000.00,1698000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2020,55179000000,24314000000,30865000000,20561000000,6262000000,1288000000,2572000000.00,5590000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2021Q1,13187000000,6160000000,7027000000,4688000000,1616000000,280000000,244000000.00,955000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2021Q2,18745000000,9741000000,9004000000,5334000000,1657000000,281000000,1552000000.00,1325000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2021Q3,17618000000,9447000000,8171000000,4860000000,1621000000,291000000,1319000000.00,1130000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2021,57350000000,25865000000,31486000000,18745000000,6488000000,1155000000,4837000000.00,5743000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY2022Q1,14197000000,6862000000,7335000000,4597000000,1679000000,311000000,623000000.00,733000000.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [330]:
t[(t["end"] < "2021-12-31") & (t["start"] >= "2021-01-01")]["val"].sum()

49550000000

In [314]:
consolidate(keyQuarters(gaap["Revenues"]["units"]["USD"]))

                   val
frame
CY2007     98786000000
CY2008Q2   26820000000
CY2008Q3   25302000000
CY2008    103630000000
CY2009Q1   21711000000
CY2009Q2   23250000000
CY2009Q3   23566000000
CY2009     95758000000
CY2010Q1   22857000000
CY2010Q2   23724000000
CY2010Q3   24271000000
CY2010     99870000000
CY2011Q1   24607000000
CY2011Q2   26666000000
CY2011Q3   26157000000
CY2011    106916000000
CY2012Q1   24673000000
CY2012Q2   25783000000
CY2012Q3   24747000000
CY2012    102874000000
CY2013Q1   23408000000
CY2013Q2   24924000000
CY2013Q3   23338000000
CY2013     98367000000
CY2014Q1   22236000000
CY2014Q2   24047000000
CY2014Q3   22397000000
CY2014     92793000000
CY2015Q1   19590000000
CY2015Q2   20813000000
CY2015Q3   19280000000
CY2015     81741000000
CY2016Q1   18684000000
CY2016Q2   20238000000
CY2016Q3   19226000000
CY2016     79919000000
CY2017Q1   18155000000
CY2017Q2   19289000000
CY2017Q3   19153000000
CY2017     79139000000
CY2018Q1   19072000000
CY2018Q2   20003000000
CY2018Q3   18756000000
CY2018     79591000000
CY2019Q1   18182000000
CY2019Q2   19161000000
CY2019Q3   18028000000
CY2019     57714000000
CY2020Q1   17571000000
CY2020Q2   18123000000
CY2020Q3   17560000000
CY2020     55179000000
CY2021Q1   13187000000
CY2021Q2   18745000000
CY2021Q3   17618000000
CY2021     57350000000
CY2022Q1   14197000000

In [416]:
keyQuarters(gaap["Revenues"]["units"]["USD"])[-10:]

[{'start': '2019-01-01',
  'end': '2019-12-31',
  'val': 57714000000,
  'accn': '0001558370-22-001584',
  'fy': 2021,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2022-02-22',
  'frame': 'CY2019'},
 {'start': '2020-01-01',
  'end': '2020-03-31',
  'val': 17571000000,
  'accn': '0001558370-21-004922',
  'fy': 2021,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2021-04-27',
  'frame': 'CY2020Q1'},
 {'start': '2020-04-01',
  'end': '2020-06-30',
  'val': 18123000000,
  'accn': '0001558370-21-009351',
  'fy': 2021,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2021-07-27',
  'frame': 'CY2020Q2'},
 {'start': '2020-07-01',
  'end': '2020-09-30',
  'val': 17560000000,
  'accn': '0001558370-21-014734',
  'fy': 2021,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2021-11-05',
  'frame': 'CY2020Q3'},
 {'start': '2020-01-01',
  'end': '2020-12-31',
  'val': 55179000000,
  'accn': '0001558370-22-001584',
  'fy': 2021,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2022-02-22',
  'frame': 'CY2020'},
 {'start': '2021-01-01',
  'end': '2021-03-31',
  'val': 13187000000,
  'accn': '0001558370-22-005983',
  'fy': 2022,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2022-04-26',
  'frame': 'CY2021Q1'},
 {'start': '2021-04-01',
  'end': '2021-06-30',
  'val': 18745000000,
  'accn': '0001558370-21-009351',
  'fy': 2021,
  'fp': 'Q2',
  'form': '10-Q',
  'filed': '2021-07-27',
  'frame': 'CY2021Q2'},
 {'start': '2021-07-01',
  'end': '2021-09-30',
  'val': 17618000000,
  'accn': '0001558370-21-014734',
  'fy': 2021,
  'fp': 'Q3',
  'form': '10-Q',
  'filed': '2021-11-05',
  'frame': 'CY2021Q3'},
 {'start': '2021-01-01',
  'end': '2021-12-31',
  'val': 57350000000,
  'accn': '0001558370-22-001584',
  'fy': 2021,
  'fp': 'FY',
  'form': '10-K',
  'filed': '2022-02-22',
  'frame': 'CY2021'},
 {'start': '2022-01-01',
  'end': '2022-03-31',
  'val': 14197000000,
  'accn': '0001558370-22-005983',
  'fy': 2022,
  'fp': 'Q1',
  'form': '10-Q',
  'filed': '2022-04-26',
  'frame': 'CY2022Q1'}]